<div class="container">
 <div class="row">
  <div class="col-md-6">
     <mat-card>
    <mat-card-content>
      <mat-form-field style="display: inline;">
        <mat-label>Server Name</mat-label>
        <input
          matInput
          placeholder="Input server"
          #serverInput
          (input)="onInputServer(serverInput.value)"
        />
      </mat-form-field>
      <!-- <input type="text" name="" class="form-control" #serverInput /> 
       <button class="btn btn-primary mt-1" (click)="addServer(serverInput)">
    Add Server
  </button> -->
      <div class="row">
        <div class="col-md-3">
          <button
            mat-raised-button
            color="primary"
            (click)="addServer(serverInput)"
            [disabled]="enabledServerInput"
          >
            Add Server
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
 </div>
</div>
