
.topHeader{
background-color: #48208d;
color: rgb(255, 255, 255);
}

.avatar{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 63, 23);
}

#login li{
  margin-left: 1rem;
  display: flex;
}