<div *ngIf="isLoggedIn">
  <nav
    class="navbar navbar-expand-lg navbar-dark topHeader"
    style="padding-left: 10%"
  >
    <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/recipes">Recipe</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Ingredient</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/customer">Customer</a>
        </li>
      </ul>

      <ul
        id="login"
        class="nav navbar-nav navbar-right"
        style="padding-left: 60%"
      >
        <li>
          <img class="avatar" src="https://shorturl.at/dlzFM" alt="avatar" />
        </li>
        <li>
          <button
            class="btn btn-link"
            (click)="onLogOut()"
            style="text-decoration: none; color: aliceblue; font-weight: 400"
          >
            {{ isLoggedIn ? "Log Out" : "Log In" }}
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
