<div class="container" style="margin: 20%">
  <div *ngIf="!!recipeItem">
    <div class="row m-3">
      <img
        src="{{ recipeItem.imagePath }}"
        alt="Recipe Image"
        class="img-fluid recipeImage"
      />
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3 style="color: darkgreen">{{ recipeItem.name }}</h3>
        <div class="col-5">
          <hr />
        </div>
        <h5 style="color: #bd0808">{{ recipeItem.description }}</h5>
      </div>
    </div>
    <div class="row mt-3 justify-content-end">
      <div class="col-md-2">
        <button (click)="onUpdate()" class="btn btn-success">Update</button>
      </div>
      <div class="col-md-2">
        <button (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <ul class="list-group mt-2">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipeItem.ingredients"
      >
        {{ ingredient.name + " (" + ingredient.amount + ")" }}
      </li>
    </ul>

    <!-- <label style="font-weight: 500">Router param: </label> {{ routeParamId }}
    <label style="font-weight: 500">Query param: </label> {{ queryParam }} -->
  </div>
  <!-- <ng-template #elseBlock>
    <h2>Please select a recipe</h2>
  </ng-template> -->
</div>
