
<div class="card custom-card m-2">
  <div class="row no-gutters clickable-div" routerLinkActive="active" 
  (click)="onClickItem()" 
  style=" cursor: pointer;" [appHighlight]="isHighlighted">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recipeItem?.name}}</h5>
        <p class="card-text">{{recipeItem?.description }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <img [src]="recipeItem?.imagePath" alt="Card Image" class="card-img" 
      style="max-width: 100px; max-height: 100px; margin: 20px;">
    </div>  
  </div>
</div>
